/* Shake keyframes */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
}

/* Shake animation class */
.shake {
  animation: shake 0.3s ease-in-out;
}

.remove-btn {
  border: 2px solid #f87171; /* red-400 */
  background-color: white;
  color: #f87171; /* red-400 */
  padding: 0.1rem 0.5rem; /* px-3 py-1 */
  border-radius: 9999px; /* rounded-full */
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.group:hover .remove-btn {
  opacity: 1;
}

.remove-btn:hover {
  background-color: #f87171; /* red-400 fill */
  color: white;
  animation: shake 0.3s ease-in-out;
}
